<div id="content-header">
 <img src="/images/HR/show_hr.png" alt="" />
  <h1><%= t('app.views.employee.advanced_search.employee') %></h1>
  <h3><%= t('app.views.employee.advanced_search.advanced_search') %></h3>
  <div id="app-back-button">
   <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">

  <div id="search-form">
    <% form_for @search do |f| %>
      <div class="label-field-pair">
        <label for="name"><%= t('app.views.employee.advanced_search.name') %></label>
        <div class="text-input-bg">
          <%= f.text_field :first_name_or_middle_name_or_last_name_like %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('app.views.employee.advanced_search.employee_no') %></label>
        <div class="text-input-bg">
          <%= f.text_field :employee_number_equals %>
        </div>
      </div>
      <div class="label_field_pair">
        <label class="label_for_student" ><%= t('app.views.employee.advanced_search.gender') %></label>
        <div class="student_gender_value">
          <label class="label_for_gender" ><%= t('app.views.employee.advanced_search.all') %></label>
          <%= f.radio_button  :gender_equals, "" %>
          <label class="label_for_gender" ><%= t('app.views.employee.advanced_search.male') %></label>
          <%= f.radio_button  :gender_equals, "m"%>
          <label class="label_for_gender" ><%= t('app.views.employee.advanced_search.female') %></label>
          <%= f.radio_button  :gender_equals, "f" %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('app.views.employee.advanced_search.blood_group') %></label>
        <div class="text-input-bg">
          <%= select :search, :blood_group_like, ["A+", "A-", "B+", "B-", "O+", "O-", "AB+", "AB-"],{:prompt=> t('app.views.employee.advanced_search.select') }%>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('app.views.employee.advanced_search.marital_status') %></label>
        <div class="text-input-bg">
          <%= select :search, :marital_status_like, {t('app.views.employee.advanced_search.single') => "Single", t('app.views.employee.advanced_search.married') => "Married", t('app.views.employee.advanced_search.divorced') => "Divorced"},{:prompt=>t('app.views.employee.advanced_search.select')}%>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('app.views.employee.advanced_search.country') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :nationality_id_equals, Country.all,:id,:name,{:prompt=> t('app.views.employee.advanced_search.select')}%>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('app.views.employee.advanced_search.category') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :employee_category_id_equals, EmployeeCategory.all, :id, :name, {:prompt=>t('app.views.employee.advanced_search.select')} %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('app.views.employee.advanced_search.department') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :employee_department_id_equals, EmployeeDepartment.all, :id, :name, {:prompt=>t('app.views.employee.advanced_search.select')} %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('app.views.employee.advanced_search.position') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :employee_position_id_equals, EmployeePosition.all, :id, :name, {:prompt=>t('app.views.employee.advanced_search.select')}%>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('app.views.employee.advanced_search.grade') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :employee_grade_id_equals, EmployeeGrade.all, :id, :name,{:prompt=>t('app.views.employee.advanced_search.select')} %>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('app.views.employee.advanced_search.date_of_joining') %>
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
        </label>
        <div class="text-input-bg">
          <%= select :adv_search,:doj_option,{ t('app.views.employee.advanced_search.equals') => "equal to",t('app.views.employee.advanced_search.less_than') =>"less than",t('app.views.employee.advanced_search.greater_than') => "greater than"},{:prompt=>t('app.views.employee.advanced_search.choose_your_option')},
            {:onChange => "#{remote_function(:url => {:action => "list_doj_year"},
            :with=>"'doj_option='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"}
        %>
          <div id="doj_year">
            <%= select :adv_search,:doj_year,[],{:prompt=>t('app.views.employee.advanced_search.select')} %>
          </div>
          <div id="doj_year_hidden"></div>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('app.views.employee.advanced_search.birth_date') %>
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
        </label>
        <div class="text-input-bg">
          <%= select :adv_search,:dob_option,{ t('app.views.employee.advanced_search.equals') => "equal to",t('app.views.employee.advanced_search.less_than') =>"less than",t('app.views.employee.advanced_search.greater_than') => "greater than"},{:prompt=>t('app.views.employee.advanced_search.choose_your_option')},
            {:onChange => "#{remote_function(:url => {:action => "list_dob_year"},
            :with=>"'dob_option='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"}
        %>
          <div id="dob_year">
            <%= select :adv_search,:dob_year,[],{:prompt=>t('app.views.employee.advanced_search.select')} %>
          </div>
          <div id="dob_year_hidden"></div>
        </div>
      </div>
      <div class="label_field_pair">
        <label class="label_for_student" for="student_gender"><%= t('app.views.employee.advanced_search.status') %></label>
        <div class="student_gender_value">
          <label class="label_for_gender" for="student_gender_true"><%= t('app.views.employee.advanced_search.present') %></label>
          <%= f.radio_button  :status_equals, "true", {:checked => false } %>
          <label class="label_for_gender" for="student_gender_false"><%= t('app.views.employee.advanced_search.former') %></label>
          <%= f.radio_button  :status_equals, "false" %>
          <label class="label_for_gender" for="student_gender_false"><%= t('app.views.employee.advanced_search.all') %></label>
          <%= f.radio_button  :status_equals, "", {:checked => 'checked'} %>
        </div>
      </div>


      <%= f.submit t('app.views.employee.advanced_search.search'), :class=>'submit' %>
    <% end %>
  </div>



  <% unless @employees1.nil? %>
    <script type="text/javascript">
      Event.observe(window, 'load', function() { $('search-form').hide(); });
    </script>
    <div id="search-result">

      <p><%= t('app.views.employee.advanced_search.you_have_searched_for') %></p>
      <div class="search-again">
  <%#= link_to_function '► Search again' do |page|
  page.visual_effect :toggle_slide, "search-form"
  page.hide "search-result"
  end %>
        <% searched_for = t('app.views.employee.advanced_search.listed_by') %>
       
          <% searched_for += t('app.views.employee.advanced_search.name') + params[:search][:first_name_or_middle_name_or_last_name_like].to_s unless params[:search][:first_name_or_middle_name_or_last_name_like].empty? %>
          <% searched_for += t('app.views.employee.advanced_search.employee_number') + params[:search][:employee_number_equals].to_s unless params[:search][:employee_number_equals].empty? %>
          <% searched_for += t('app.views.employee.advanced_search.employee_department') + EmployeeDepartment.find(params[:search][:employee_department_id_equals]).name.to_s unless params[:search][:employee_department_id_equals].empty? %>
          <% searched_for += t('app.views.employee.advanced_search.employee_category') + EmployeeCategory.find(params[:search][:employee_category_id_equals]).name.to_s unless params[:search][:employee_category_id_equals].empty? %>
          <% searched_for += t('app.views.employee.advanced_search.employee_position') + EmployeePosition.find(params[:search][:employee_position_id_equals]).name.to_s unless params[:search][:employee_position_id_equals].empty? %>
          <% searched_for += t('app.views.employee.advanced_search.employee_grade') + EmployeeGrade.find(params[:search][:employee_grade_id_equals]).name.to_s unless params[:search][:employee_grade_id_equals].empty? %>
          <% unless  params[:search][:gender_equals].empty? %>
          <% if  params[:search][:gender_equals] == 'm' %>
            <% searched_for += t('app.views.employee.advanced_search.gender_male') %>
          <% elsif  params[:search][:gender_equals] == 'f' %>
            <% searched_for += t('app.views.employee.advanced_search.gender_female') %>
          <% else %>
            <% searched_for += t('app.views.employee.advanced_search.gender_all') %>
          <% end %>
        <% end %>
          <% searched_for += t('app.views.employee.advanced_search.blood_group') + params[:search][:blood_group_like].to_s unless params[:search][:blood_group_like].empty? %>
          <% searched_for += t('app.views.employee.advanced_search.marital_status') + params[:search][:marital_status_like].to_s unless params[:search][:marital_status_like].empty? %>
          <% searched_for += t('app.views.employee.advanced_search.nationality') + Country.find(params[:search][:nationality_id_equals]).name.to_s unless params[:search][:nationality_id_equals].empty? %>
          <% searched_for += t('app.views.employee.advanced_search.year_of_join') +  params[:adv_search][:doj_option].to_s + params[:adv_search][:joining_date_year].to_s unless  params[:adv_search][:doj_option].empty? %>
          <% searched_for += t('app.views.employee.advanced_search.year_of_birth') +  params[:adv_search][:dob_option].to_s + params[:adv_search][:birth_date_year].to_s unless  params[:adv_search][:dob_option].empty? %>
          <% if params[:search][:status_equals]=="true" %>
          <% searched_for += t('app.views.employee.advanced_search.present_employees') %>
          <% elsif params[:search][:status_equals]=="false" %>
            <% searched_for += t('app.views.employee.advanced_search.former_employees') %>
          <% else %>
            <% searched_for += t('app.views.employee.advanced_search.all_employees') %>
          <% end %>

        
        <%= link_to t('app.views.employee.advanced_search.search_again'), {:action=>"advanced_search"}%>
        <% unless @employees1.empty? %>
        <%= link_to t('app.views.employee.advanced_search.view_pdf_report'),   {:action => "advanced_search_pdf",:for =>searched_for, :result2=>@employees2 , :result =>@employees1,:status=>params[:search][:status_equals], :format => 'pdf'}, :target => '_blank' , :class=> 'submit_button' %>
        <% end %>
      </div>
      <div class="extender"></div>

      <div class="searched_for">
        <% unless params[:search][:first_name_or_middle_name_or_last_name_like].empty? %>
          <% searched_for = params[:search][:first_name_or_middle_name_or_last_name_like] %>
          <span><%= t('app.views.employee.advanced_search.name') %> </span> <%= params[:search][:first_name_or_middle_name_or_last_name_like] %>
        <% end %>
        <% unless  params[:search][:employee_number_equals].empty? %>
          <span><%= t('app.views.employee.advanced_search.employee_no') %> </span> <%= params[:search][:employee_number_equals] %>
        <% end %>
        <% unless params[:search][:employee_department_id_equals].empty? %>
          <% dept = EmployeeDepartment.find(params[:search][:employee_department_id_equals]) %>
          <span><%= t('app.views.employee.advanced_search.department') %> </span> <%= dept.name %>
        <% end %>
        <% unless  params[:search][:employee_category_id_equals].empty? %>
          <% category = EmployeeCategory.find(params[:search][:employee_category_id_equals]) %>
          <span> <%= t('app.views.employee.advanced_search.category') %> </span> <%= category.name %>
        <% end %>
        <% unless  params[:search][:employee_position_id_equals].empty? %>
          <% position = EmployeePosition.find(params[:search][:employee_position_id_equals]) %>
          <span> <%= t('app.views.employee.advanced_search.employee_position') %> </span> <%= position.name %>
        <% end %>
        <% unless  params[:search][:employee_grade_id_equals].empty? %>
          <% grade = EmployeeGrade.find(params[:search][:employee_grade_id_equals]) %>
          <span> <%= t('app.views.employee.advanced_search.employee_grade') %> </span> <%= grade.name %>
        <% end %>
        <% unless  params[:search][:gender_equals].empty? %>
          <% if  params[:search][:gender_equals] == 'm' %>
            <span> <%= t('app.views.employee.advanced_search.gender') %> </span> <%= t('app.views.employee.advanced_search.male') %>
          <% elsif  params[:search][:gender_equals] == 'f' %>
            <span> <%= t('app.views.employee.advanced_search.gender') %> </span> <%= t('app.views.employee.advanced_search.female') %>
          <% else %>
            <span> <%= t('app.views.employee.advanced_search.gender') %> </span> <%= t('app.views.employee.advanced_search.gender_all') %>
          <% end %>
          <% end %>
        <% unless  params[:search][:blood_group_like].empty? %>
          <span> <%= t('app.views.employee.advanced_search.blood_group') %></span> <%= params[:search][:blood_group_like] %>
        <% end %>
        <% unless  params[:search][:marital_status_like].empty? %>
          <span> <%= t('app.views.employee.advanced_search.marital_status') %></span> <%= params[:search][:marital_status_like] %>
        <% end %>
        <% unless  params[:search][:nationality_id_equals].empty? %>
          <% nationality = Country.find(params[:search][:nationality_id_equals]) %>
          <span> <%= t('app.views.employee.advanced_search.nationality') %> </span> <%= nationality.name %>
        <% end %>
        <% unless  params[:adv_search][:doj_option].empty? %>
          <span> <%= t('app.views.employee.advanced_search.year_of_joining') %> </span> <%= params[:adv_search][:doj_option] %>

          <%= params[:adv_search][:joining_date_year] %>
        <% end %>
        <% unless  params[:adv_search][:dob_option].empty? %>
          <span><%= t('app.views.employee.advanced_search.year_of_birth') %> </span> <%= params[:adv_search][:dob_option] %>

          <%= params[:adv_search][:birth_date_year] %>
        <% end %>
        <% if params[:search][:status_equals]=="true" %>
          <span> <%= t('app.views.employee.advanced_search.present_employees') %> </span>
        <% elsif params[:search][:status_equals]=="false" %>
          <span> <%= t('app.views.employee.advanced_search.former_employees') %> </span>
        <% else %>
          <span> <%= t('app.views.employee.advanced_search.all') %> </span>
        <% end %>

      </div>


      <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head">
          <td>
            <%= t('app.views.employee.advanced_search.sl_no') %>
          </td>
          <td>
            <%= t('app.views.employee.advanced_search.name') %>
          </td>
          <td>
            <%= t('app.views.employee.advanced_search.employee_id') %>
          </td>
          <td>
            <%= t('app.views.employee.advanced_search.employee_dept') %>
          </td>
        </tr>
        <tr class="tr-blank"></tr>

        <% @employees1.each_with_index do |emp1, i| %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-1"><%= i+1 %></td>
            <% if params[:search][:status_equals]=="false" %>
            <td class="col-4"><%=  link_to emp1.first_name + ' ' + emp1.last_name, :controller => 'archived_employee', :action => 'profile', :id => emp1.id%></td>
            <% else %>
            <td class="col-4"><%=  link_to emp1.first_name + ' ' + emp1.last_name, :controller => 'employee', :action => 'profile', :id => emp1.id%></td>
            <% end %>
            <td class="col-3"><%= emp1.employee_number %></td>
            <td class="col-4"><%= emp1.employee_department.name %></td>
            
          <% end %>
          <% unless @employees2.nil? %>
            <% k = @employees1.size %>
        <% @employees2.each do |emp2| %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-1"><%= k+1 %></td>
            <td class="col-4"><%=  link_to emp2.first_name + ' ' + emp2.last_name, :controller => 'archived_employee', :action => 'profile', :id => emp2.id%></td>
            <td class="col-3"><%= emp2.employee_number %></td>
            <td class="col-4"><%= emp2.employee_department.name %></td>
          <% end %>
          <% end  %>
        </tr>
        <% if @employees1.empty? %>

          <tr class="tr-<%= cycle('odd', 'even') %>">

            <td class="col-1"></td>
            <td class="col-2"><%= t('app.views.employee.advanced_search.no_employee_found') %></td>
          </tr>
        <% end %>
      </table>
      <div class="extender">




      </div>
    </div>
  <% end %>
</div>