<div id="content-header">
    <img src="/images/HR/show_hr.png" alt="" />
  <h1><%= t('app.views.employee.change_to_former.employee') %></h1>
  <h3><%= t('app.views.employee.change_to_former.leaving_school_') %></h3>
  <div id="app-back-button">
   <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <div id="student-details">
<h4> <%= @employee.first_name %> | <%= t('app.views.employee.change_to_former.employee_no_') %><%= @employee.employee_number %> | <%= t('app.views.employee.change_to_former.department_') %><%= @employee.employee_department.name %> </h4>
  </div>

  <div class="extender"> </div>

  <div id="remove-student">
    <p><%= t('app.views.employee.change_to_former.message') %></p>

    <% form_for :remove do |f| %>
      <div class="label-field-pair">
        <label for="remove_descr"><%= t('app.views.employee.change_to_former.reason_for_leaving') %></label>
        <div class="text-input-bg"><%= f.text_field :status_description %></div>
      </div>

      <div id="submit-button">
        <%= submit_tag t('app.views.employee.change_to_former.remove'),:class=>'submit_button' %>
      </div>

    <% end %>
  </div>

</div>