<div id="content-header">
  <img src="/images/HR/show_hr.png" alt="" />
  <h1><%= t('app.views.employee.remove.employee') %></h1>
  <h3><%= t('app.views.employee.remove.remove_employee') %></h3>
  <div id="app-back-button">
     <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <div id="student-details">
    <h4> <%= @employee.first_name %> | <%= t('app.views.employee.remove.employee_no') %><%= @employee.employee_number %> | <%= t('app.views.employee.remove.department') %><%= @employee.employee_department.name %> </h4>
  </div>

  <div class="extender"> </div>
  <div class="box">
  <% if @employee.status == true %>
  <div class="link-box">
    <div class="link-heading"> <%= link_to t('app.views.employee.remove.employee_leaving_institution'), :controller => "employee", :action => "change_to_former", :id => @employee.id %> </div>
    <div class="link-descr"><%= t('app.views.employee.remove.key21for_employee') %></div>
  </div>
  <% else %>
    <div class="link-box">
    <div class="link-heading"> <a><%= t('app.views.employee.remove.employee_has_left_the_school') %></a> </div>
    <div class="link-descr"><b><%= t('app.views.employee.remove.reason') %></b><%=  %> </div>
  </div>
    <% end %>
  <div class="link-box">
    <div class="link-heading"> <%= link_to t('app.views.employee.remove.remove_employee_records'), :controller => "employee", :action => "delete", :id => @employee.id %> </div>
    <div class="link-descr"><%= t('app.views.employee.remove.key31completely_delete') %></div>
  </div>
  </div>
    <!--

  <div id="remove-student">
    <h4><%= link_to t('app.views.employee.remove.student_leaving_school') %></h4>
    <p><%= t('app.views.employee.remove.key38for_students') %></p>
    <% form_for :remove do |f| %>
      <div class="label-field-pair">
        <label for="remove_descr"><%= t('app.views.employee.remove.reason_for_leaving') %></label>
        <div class="text-input-bg"><%= f.text_field :description %></div>
      </div>
      <div class="extender"> </div>
      <%= image_submit_tag '/images/buttons/remove.png' %>
    <% end %>
  </div>

  <div id="delete-student">
    <h4><%= t('app.views.employee.remove.delete_student') %></h4>
    <p><%= t('app.views.employee.remove.completely_remove_student') %></p>

    <p class="warning"><%= t('app.views.employee.remove.warning') %></p>
    <%= link_to image_tag('/images/buttons/delete.png', :border => 0),
      { :action => 'destroy', :id => @employee.id }, :confirm => t('app.views.employee.remove.are_you_sure') %>
  </div>
    -->

</div>