<div id="content-header">
  <img src="/images/admission/admission_page_logo.jpg" />
  <h1><%= t('app.views.student.admission2.admission') %></h1>
  <h3><%= t('app.views.student.admission2.step_2_-_parent/guardian_details') %></h3>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <div id="parents">

    <% unless @student.guardians.empty? %>

      <ul id="parents-list">
        <p><%= t('app.views.student.admission2.following_guardians_has_been_saved_for') %><%= @student.first_name + ' ' + @student.last_name %> </p>
        <%- @student.guardians.each do |p| -%>
          <li class="list<%=cycle('odd', 'even')%>"><%= p.full_name %> - <%= p.relation %> </li>
        <%  end %>
        <div id="add-more-parent">
          <%= link_to_function t('app.views.student.admission2.another_guardian') do |page|
            page.visual_effect :toggle_slide, "admission1_form"
            page.hide "parents"
          end %>
        </div>
        <div id="skip">
          <%= link_to t('app.views.student.admission2.finish'), {:controller => "student", :action => "admission3", :id => @student.id } %>
        </div>
        <script type="text/javascript">
          Event.observe(window, 'load', function() { $('admission1_form').hide(); });
        </script>
      </ul>

    <%  end %>

  </div>

  <% form_for :guardian do |f| %>

    <%= f.error_messages :header_message => nil %>

    <div id="admission1_form">

      <div id="admission1_form_vertical_block_left">

        <div class="label-field-pair">
          <label for="parent_detail_student_id"><%= t('app.views.student.admission2.student_admission_no.') %></label>
          <div class="text_display"><%= @student.admission_no %></div>
          <%= f.hidden_field :ward_id, :value => @student.id %>
        </div>

        <br/>
        <span class="span-sub-heading"><%= t('app.views.student.admission2.parent_-_personal_details') %></span>
        <hr class="sub-heading"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_name"><%= t('app.views.student.admission2.first_name') %></label>
          <div class="text-input-bg"><%= f.text_field :first_name %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_name"><%= t('app.views.student.admission2.last_name') %></label>
          <div class="text-input-bg"><%= f.text_field :last_name %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_relation"><%= t('app.views.student.admission2.relationship') %></label>
          <div class="text-input-bg"><%= f.text_field :relation %></div>
        </div>

        <!--<hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_dob"><%= t('app.views.student.admission2.date_of_birth') %></label>
          <div class="text-input-bg"><%= calendar_date_select_tag 'guardian[dob]', nil,
              :year_range => 60.years.ago..20.years.ago %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_education"><%= t('app.views.student.admission2.education') %></label>
          <div class="text-input-bg"><%= f.text_field :education %></div>
        </div>-->

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_occupation"><%= t('app.views.student.admission2.occupation') %></label>
          <div class="text-input-bg"><%= f.text_field :occupation %></div>
        </div>

        <!--
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_income"><%= t('app.views.student.admission2.income') %></label>
          <div class="text-input-bg"><%= f.text_field :income %></div>
        </div>-->

        <br/>

        <span class="span-sub-heading"><%= t('app.views.student.admission2.parent_-_contact_details') %></span>

        <hr class="sub-heading"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_email"><%= t('app.views.student.admission2.email') %></label>
          <div class="text-input-bg"><%= f.text_field :email %></div>
        </div>

        <hr class="label-underline"></hr>
      </div>

      <div id="admission1_form_vertical_block_right">

        <div class="label-field-pair">
          <label for="master_student_city"><%= t('app.views.student.admission2.address_line_1') %></label>
          <div class="text-input-bg"><%= f.text_field :office_address_line1 %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="master_student_city"><%= t('app.views.student.admission2.address_line_2') %></label>
          <div class="text-input-bg"><%= f.text_field :office_address_line2 %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_city"><%= t('app.views.student.admission2.city') %></label>
          <div class="text-input-bg"><%= f.text_field :city %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_state"><%= t('app.views.student.admission2.state') %></label>
          <div class="text-input-bg"><%= f.text_field :state %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_country"><%= t('app.views.student.admission2.country') %></label>
          <div class="text-input-bg"> <%= select :guardian, :country_id, Country.all.map {|c| [c.name, c.id]}, :selected => 115 %> </div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_office_phone1"><%= t('app.views.student.admission2.phone_1') %></label>
          <div class="text-input-bg"><%= f.text_field :office_phone1 %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_office_phone2"><%= t('app.views.student.admission2.phone_2') %></label>
          <div class="text-input-bg"><%= f.text_field :office_phone2 %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="parent_detail_mob_phone"><%= t('app.views.student.admission2.mobile_phone_no') %></label>
          <div class="text-input-bg"><%= f.text_field :mobile_phone %></div>
        </div>

        <hr class="label-underline"></hr>

      </div>

      <div class="extender">
        <%= submit_tag "", :value => t('app.views.student.admission2.finish'),  :name => "commit", :class => "submit_button3" %>
      </div>
      <div id="skip">
        <%= link_to t('app.views.student.admission2.skip'), {:controller => "student", :action => "admission3", :id => @student.id } %>
      </div>

    </div>
  <% end %>

</div>