<div id="content-header">
  <img src="/images/show_finance.png" alt="" />
  <h1><%= t('app.views.student_invoice_datas.edit.finance_manager') %></h1>
  <h3><%= t('app.views.student_invoice_datas.edit.edit_relatioship') %> </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>


<div id="page-yield">

  <% form_for(@student_invoice_data) do |f| %>

    <%= f.error_messages %>

    <div class="box">
      <div class="label-field-pair">
	<label><%= t('app.views.student_invoice_datas.edit.name') %></label>
	<div class="text-input-bg">
	  <%= f.text_field :name %>
	</div>
      </div>

      <div class="label-field-pair">
	<label><%= t('app.views.student_invoice_datas.edit.street') %></label>
	<div class="text-input-bg">
	  <%= f.text_field :street %>
	</div>
      </div>

      <div class="label-field-pair">
	<label><%= t('app.views.student_invoice_datas.edit.colony') %></label>
	<div class="text-input-bg">
	  <%= f.text_field :address %>
	</div>
      </div>

      <div class="label-field-pair">
	<label><%= t('app.views.student_invoice_datas.edit.rfc') %></label>
	<div class="text-input-bg">
	  <%= f.text_field :rfc %>
	</div>
      </div>

      <div class="label-field-pair">
	<label><%= t('app.views.student_invoice_datas.edit.batch') %></label>
	<div class="text-input-bg">
	  <%= "#{@student_invoice_data.student.batch.name} - #{@student_invoice_data.student.batch.course.course_name} " %>
	</div>
      </div>

      <div class="label-field-pair">
	<label><%= t('app.views.student_invoice_datas.edit.student') %></label>
	<div class="text-input-bg">
	  <%= @student_invoice_data.student.full_name %>
	</div>
      </div>

      <div id="submit-button">
	<%= f.submit t('app.views.student_invoice_datas.edit.update'), :class => "submit_button" %>
      </div>

    </div>	    

  <% end %>
</div>










