<h1>Student Invoice Data</h1>

<table>
  <tr>
    <td><%= 'Name' %></td>
    <td><%= 'RFC' %></td>
  </tr>

<% @student_invoice_datas.each do |sid| %>
  <tr>
    <td><%= sid.name %></td>
    <td><%= sid.rfc %></td>
    <td><%= link_to 'Edit', edit_student_invoice_data_path(sid) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New student_invoice_data', new_student_invoice_data_path %>
