<div id="content-header">
  <img src="/images/show_finance.png" alt="" />
  <h1><%= t('app.views.student_invoice_datas.new.finance_manager') %></h1>
  <h3><%= t('app.views.student_invoice_datas.new.add_relatioship') %> </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>


<div id="page-yield">

  <% form_for(@student_invoice_data) do |f| %>
    
    <%= f.error_messages %>
    
    <div class="box">
      <div class="label-field-pair">
	<label><%= t('app.views.student_invoice_datas.new.name') %></label>
	<div class="text-input-bg">
	  <%= f.text_field :name %>
	</div>
      </div>
      
      <div class="label-field-pair">
	<label><%= t('app.views.student_invoice_datas.new.street') %></label>
	<div class="text-input-bg">
	  <%= f.text_field :street %>
	</div>
      </div>

      <div class="label-field-pair">
	<label><%= t('app.views.student_invoice_datas.new.colony') %></label>
	<div class="text-input-bg">
	  <%= f.text_field :address %>
	</div>
      </div>

      <div class="label-field-pair">
	<label><%= t('app.views.student_invoice_datas.new.rfc') %></label>
	<div class="text-input-bg">
	  <%= f.text_field :rfc %>
	</div>
      </div>

      <div class="label-field-pair">
	<label><%= t('app.views.student_invoice_datas.new.batch') %></label>
	<div class="text-input-bg">
	  <%= f.select(:batch_id, 
                       options_from_collection_for_select(@batches, :id, :name_for_label), 
                       {:prompt => t('app.views.student_invoice_datas.new.select_a_batch') },
                       {:onChange => "#{remote_function(:update => :student_invoice_data_student_id,
                                                        :url => { 
                                                           :action => :update_students_on_new_student_invoice_data, 
                                                           :batch_id => 1 } ) }" } ) %>
	</div>
      </div>

      <div class="label-field-pair">
	<label><%= t('app.views.student_invoice_datas.new.student') %></label>
	<div class="text-input-bg">
	  <%= f.select(:student_id, 
                       options_from_collection_for_select(@students, :id, :full_name), :onChange => 'hola' ) %>
	</div>
      </div>

      <div id="submit-button">
	<%= f.submit t('app.views.student_invoice_datas.new.create') %>
      </div>
    </div>	    

  <% end %>
</div>
