<div id="content-header">
  <img src="/images/show_finance.png" alt="" />
  <h1><%= t('app.views.invoices.new.finance_manager') %></h1>
  <h3><%= t('app.views.invoices.new.invoice') %> </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% form_for(@invoice) do |f| %>
    
    <%= f.error_messages %>
    
    <div class="box">
      
      <% unless @student_invoice_data.nil? -%>
	  <%= f.hidden_field :student_invoice_data_id  %>
      <div class="label-field-pair">
	<label><%=t('app.views.invoices.new.student')%></label>
	<div class="text-input-bg">
	  <%= @student_invoice_data.student.full_name %>
	</div>
      </div>
      <% end -%>

      <div class="label-field-pair">
	<label><%=t('app.views.invoices.new.concept')%></label>
	<div class="text-input-bg">
	  <%= f.text_field :concept, :readonly => true %>
	</div>
      </div>
      
      <div class="label-field-pair">
	<label><%=t('app.views.invoices.new.invoice_number')%></label>
	<div class="text-input-bg">
	  <%= f.text_field :invoice_number %>
	</div>
      </div>

      <div class="label-field-pair">
	<label><%=t('app.views.invoices.new.subtotal')%></label>
	<div class="text-input-bg">
	  <%= f.text_field :amount_before_tax, :readonly => true %>
	</div>
      </div>

      <div class="label-field-pair">
	<label><%=t('app.views.invoices.new.taxes')%></label>
	<div class="text-input-bg">
	  <%= f.text_field :tax, :readonly => true %>
	</div>
      </div>

      <div class="label-field-pair">
	<label><%=t('app.views.invoices.new.total')%></label>
	<div class="text-input-bg">
	  <%= f.text_field :amount_after_tax, :readonly => true %>
	</div>
      </div>

      <div class="label-field-pair">
	<label><%=t('app.views.invoices.new.amount')%></label>
	<div class="text-input-bg">
	  <%= f.text_field :alpha_amount %>
	</div>
      </div>

      <% unless @fee_category.nil? -%>
      <%= hidden_field :fee_category, :id  %>
      <div class="label-field-pair">
	<label><%=t('app.views.invoices.new.category')%></label>
	<div class="text-input-bg">
	  <%= @fee_collection.name %>
	</div>
      </div>
      <% end -%>

      <% unless @fee_collection.nil? -%>
      <%= hidden_field :fee_collection, :id  %>
      <div class="label-field-pair">
	<label><%=t('app.views.invoices.new.collection')%></label>
	<div class="text-input-bg">
	  <%= @fee_collection.start_date %> -
	  <%= @fee_collection.end_date %>
	</div>
      </div>
      <% end -%>

      <div id="submit-button">
	<%= f.submit t('app.views.invoices.new.paper') %>
      </div>
    </div>	    

  <% end %>
</div>
