<div id="content-header">
   <img src="/images/show_finance.png" alt="" />
  <h1><%=t('app.views.xmlfolder.index.finance_manager')%></h1>
  <h3><%=t('app.views.xmlfolder.index.export_data')%></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <div class="box">


  <div class="link-box">
    <div class="link-heading"><%= link_to t('app.views.xmlfolder.index.tally_settings'), :action => "settings" %></div>
    <div class="link-descr"><%=t('app.views.xmlfolder.index.change_ledger_settings')%></div>
  </div>

  <div class="link-box">
    <div class="link-heading"><%= link_to t('app.views.xmlfolder.index.export_for_tally'),:controller => 'xml', :action => "create_xml" %></div>
    <div class="link-descr"><%=t('app.views.xmlfolder.index.creates_xml_import_file')%></div>
  </div>
</div>
</div>