<div id="content-header">
  <img src="/images/show_finance.png" alt="" />
  <h1><%= t('app.views.cash_boxes.index.configuration') %></h1>
  <h3><%= t('app.views.cash_boxes.index.cash_boxes_manager') %> </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to t('app.views.cash_boxes.index.new'), new_cash_box_path %> </li>

  </ul>
</div>

<div id="page-yield">
  <div class="box">
    <div class="students-table">
      <table align="center" width="100%" cellpadding="1" cellspacing="1">
	<tr class="tr-head">
	  <td style="text-align: center;">
	    <%=t('app.views.cash_boxes.index.name')%>
	  </td>
	  <td style="text-align: center;">
	    <%=t('app.views.cash_boxes.index.location')%>
	  </td>
	  <td style="text-align: center;">
	    <%= t('app.views.cash_boxes.index.employee')%>
	  </td>
	  <td colspan="2" style="text-align: center;">
	    <%= t('app.views.cash_boxes.index.options')%>
	  </td>
	</tr>
    
	<% @cash_boxes.each do |cash_box| %>
	<tr class="tr-<%= cycle('odd', 'even') %>">
	  <td class="col-1">
	    <%= cash_box.name %>
	  </td>

	  <td class="col-2">
	    <%= cash_box.location %>
	  </td>
	  
	  <td class="col-2">
	    <%= cash_box.employee.full_name unless cash_box.employee.nil? %></td>
	  </td>
	  
	  <td class="col-3">
	    <%= link_to t('app.views.cash_boxes.index.show'), cash_box %>
	  </td>
	  <td class="col-3">
	    <%= link_to t('app.views.cash_boxes.index.edit'), edit_cash_box_path(cash_box) %>
	  </td>
	</tr>
        <% end %>
      </table>
    </div>
  </div>  
</div>