<div id="content-header">
  <img src="/images/show_finance.png" alt="" />
  <h1><%= t('app.views.cash_boxes.new.configuration') %></h1>
  <h3><%= t('app.views.cash_boxes.new.add_box_cash') %> </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>


<div id="page-yield">

  <% form_for(@cash_box) do |f| %>
    
    <%= f.error_messages %>
    
    <div class="box">
      <div class="label-field-pair">
	<%= f.label :name, t('app.views.cash_boxes.new.name') %>
	<div class="text-input-bg">
	  <%= f.text_field :name %>
	</div>
      </div>
      
      <div class="label-field-pair">
	<%= f.label :street, t('app.views.cash_boxes.new.location') %>
	<div class="text-input-bg">
	  <%= f.text_field :location %>
	</div>
      </div>

      <div class="label-field-pair">
	<%= f.label :address, t('app.views.cash_boxes.new.employee') %>
	<div class="text-input-bg">
	  <%= f.select(:employee_id, 
                 options_from_collection_for_select(@employees, :id, :full_name), :prompt => t('app.views.cash_boxes.new.select_employee') ) %>
	</div>
      </div>

      <div id="submit-button">
	<%= f.submit t('app.views.cash_boxes.new.create') %>
      </div>
    </div>	    

  <% end %>
</div>