<h1>New cash_box</h1>

<% form_for(@cash_box) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :employee_id %><br />
    <%= f.select(:employee_id, 
                 options_from_collection_for_select(@employees, :id, :full_name), :prompt => 'Select an employee' ) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', cash_boxes_path %>
