<p>
  <b>Name:</b>
  <%=@cash_box.name %>
</p>

<p>
  <b>Location:</b>
  <%=@cash_box.location %>
</p>

<p>
  <b>Employee:</b>
  <%=@cash_box.employee.full_name unless @cash_box.employee.nil? %>
</p>


<%= link_to 'Edit', edit_cash_box_path(@cash_box) %> |
<%= link_to 'Back', cash_boxes_path %>
