<div id="content_header">
  <h1 id="main_heading"><%= t('app.views.user.dashboard.welcome') %></h1>
  <h3 id="sub_heading"><%= t('app.views.user.dashboard.to_fedena_dashboard') %></h3>
</div>

<% unless flash[:notice].nil? -%>
<p class="flash-msg"><%= flash[:notice] %></p>
<% end -%>

<div id="user_options">
<% if @user.admin? %>
  <%= render :partial => 'admin_dashboard' %>
<% elsif @user.student? %>
  <%= render :partial => 'student_dashboard' %>
<% else %>
  <%= render :partial => 'default_dashboard' %>
<% end %>
</div>

<div id="option_description"></div>
