<div id="content-header">
  <img src="/images/attendence/attendence.png" alt="" />
  <h1><%= t('app.views.employee_attendance.index.employee_attendance')%></h1>
  <h3><%= t('app.views.employee_attendance.index.home')%></h3>
  <div id="app-back-button">
  <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

   <div id="page-yield">

     <div class="box">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="link-box">
    <div class="link-heading"><%= link_to t('app.views.employee_attendance.index.add_leave_types'), :controller=>"employee_attendance", :action=>"add_leave_types" %></div>
    <div class="link-descr"><%= t('app.views.employee_attendance.index.add_and_edit_employee_leave_types')%></div>
  </div>

  <div class="link-box">
    <div class="link-heading"><%= link_to t('app.views.employee_attendance.index.attendance_register'), :controller=>"employee_attendance", :action=>"register" %></div>
    <div class="link-descr"><%= t('app.views.employee_attendance.index.register_attendance')%></div>
  </div>

    <div class="link-box">
    <div class="link-heading"><%= link_to t('app.views.employee_attendance.index.attendance_report'), :controller=>"employee_attendance", :action=>"report" %></div>
    <div class="link-descr"><%= t('app.views.employee_attendance.index.attendance_reports')%></div>
  </div>

   </div>
   </div>