<div id="content-header">
    <img src="/images/show_settings.png" alt="Courses" />
  <h1><%= t('app.views.courses.index.courses') %></h1>
  <h3><%= t('app.views.courses.index.home') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">

    <div class="link-box">
      <div class="link-heading"><%= link_to t('app.views.courses.index.manage_courses'),:action=>'manage_course' %> </div>
      <div class="link-descr"><%= t('app.views.courses.index.manage_courses_and_create_batches') %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to t('app.views.courses.index.manage_batches'),:action=>'manage_batches' %>  </div>
      <div class="link-descr"><%= t('app.views.courses.index.manage_active_batches') %></div>
    </div>

    <div class="extender"></div>
  </div>
</div>
