<label class="head_label"><%= t('app.views.employee_attendances._new.attendance_for') %> <span><%= @employee.first_name %></span></label>
<div id="ajax-edit">



  <% form_remote_for @attendance do |f| %>
    <%= f.hidden_field :employee_id, :value => @employee.id %>
    <%= f.hidden_field :attendance_date, :value => @date %>
  <br/>
    <div class="label-field-pair">
      <label for="leave_type"> <%= t('app.views.employee_attendances._new.leave_type') %></label>
      <div class="text-input-bg"><%= select :employee_attendance,:employee_leave_type_id, @leave_types.map {|c| [c.name, c.id]},:prompt => t('app.views.employee_attendances._new.select_a_leave_type') %></div>
    </div>
    <div class="label-field-pair">
      <label for="leave_type"> <%= t('app.views.employee_attendances._new.reason_for_absence') %></label>
      <div class="text-input-bg"><%= f.text_field :reason %></div>
    </div>
    <div class="label-checkbox-pair">
      <label><%= f.check_box :is_half_day, :checked => false %><%= t('app.views.employee_attendances._new.is_half_day') %></label>
    </div>
    <div class="extender"></div>
    <%= f.submit t('app.views.employee_attendances._new.submit'), :class => 'submit-button', :confirm => t('app.views.employee_attendances._new.are_you_sure') %>
  <% end %>
  <div id="form-errors"></div>
</div>
