<label class="head_label"><%= t('app.views.attendances._edit.edit_attendance_for') %> <span><%= @student.first_name %></span></label>

<div id="ajax-edit">
  <br/>
  <% form_remote_for @absentee do |f| %>
  <div class="label-field-pair">
      <label for="reason"> <%= t('app.views.attendances._edit.reason_for_absence') %></label>
      <div class="text-input-bg"><%= f.text_field :reason %></div>
    </div>
    <% if @config.config_value == 'Daily' %>
    <div class="label-checkbox-pair">
        <label><%= f.check_box :forenoon %><%= t('app.views.attendances._edit.forenoon') %></label>
    </div>
    <div class="label-checkbox-pair">
        <label><%= f.check_box :afternoon %><%= t('app.views.attendances._edit.afternoon') %></label>
    </div>
    <% end %>
  <div class="extender"></div>
    <%= f.submit t('app.views.attendances._edit.update'), :class => 'submit-button' %>
  <% end %>
    <div id="delete-button"><%= link_to_remote(t('app.views.attendances._edit.delete'),
          :url => attendance_path(@absentee),
          :method =>'delete',
          :confirm => t('app.views.attendances._edit.are_you_sure')) %></div>
<div id="form-errors"></div>
</div>
