<label class="head_label"><%= t('app.views.attendances._new.edit_attendance_for') %><span><%= @student.first_name %></span></label>

<div id="ajax-edit">
  <br></br>
  <% form_remote_for @absentee do |f| %>
    <%= f.hidden_field :student_id, :value => @student.id %>
    <%= f.hidden_field :period_table_entry_id, :value => @period_entry_id %>
    <div class="label-field-pair">
      <label for="reason"> <%= t('app.views.attendances._new.reason_for_absence') %></label>
      <div class="text-input-bg"><%= f.text_field :reason %></div>
    </div>
    <% if @config.config_value == 'Daily' %>
      <div class="label-checkbox-pair">
        <label><%= f.check_box :forenoon, :checked => true %><%= t('app.views.attendances._new.forenoon') %></label>

      </div>
      <div class="label-checkbox-pair">
        <label><%= f.check_box :afternoon, :checked => true %><%= t('app.views.attendances._new.afternoon') %></label>
      </div>
    <% end %>
  <div class="extender"></div>
    <%= f.submit t('app.views.attendances._new.add'), :class => 'submit-button', :confirm => t('app.views.attendances._new.are_you_sure') %>
  <% end %>
  <div id="form-errors"></div>
</div>
