<label class="head_label"><span><%=t('app.views.finance._transaction_trigger_create_form.create_automatic_transaction')%></span></label>

<% form_remote_for :transaction_trigger,
    :url => {:action => 'transaction_trigger_create'},
    :complete => 'Modalbox.hide();return false;' do |form| %>


   <div class="label-field-pair">
    <div class="label-container"><%= form.label t('app.views.finance._transaction_trigger_create_form.category_id') %></div>
    <div class="input-container"><%= form.select :finance_category_id, @categories.map { |c| [c.name, c.id] } %></div>
   </div>

<div class="label-field-pair">
    <div class="label-container"><%= form.label t('app.views.finance._transaction_trigger_create_form.percentage')%></div>
    <div class="input-container"><%= form.text_field :percentage %></div>
   </div>

<div class="label-field-pair">
     <div class="label-container"><%= form.label t('app.views.finance._transaction_trigger_create_form.title')%></div>
    <div class="input-container"><%= form.text_field :title %></div>
   </div>

<div class="label-field-pair">
    <div class="label-container"> <%= form.label t('app.views.finance._transaction_trigger_create_form.description')%></div>
    <div class="input-container"> <%= form.text_field :description %></div>
   </div>

 <div id="modelbox-submit">
          <%=  submit_tag t('app.views.finance._transaction_trigger_create_form.save'),:class=>'submit_button' %>
  </div>
<% end %>
