<div id="content-header">
  <img src="/images/show_finance.png" alt="" />
  <h1><%=t('app.views.finance.batch_fees_report.fees_report')%> <%=@batch.full_name%></h1>
  <h3><%=t('app.views.finance.batch_fees_report.manage_transactions')%></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <% total =0 %>

  <b style="margin-left:200px;"><%= @batch.full_name%>  <%=t('app.views.finance.batch_fees_report.transaction_report')%></b>
  <div id="fees-table">
    <div class="fees-th">
      <div class="fees-table-description"><%=t('app.views.finance.batch_fees_report.student')%></div>
      <div class="fees-table-expenses"><%=t('app.views.finance.batch_fees_report.amount')%></div>
      <div class="fees-table-date"><%=t('app.views.finance.batch_fees_report.date')%></div>
    </div>
    <% @fees.each do |f| %>
      <% unless f.transaction.nil? %>
        <% trans = FinanceTransaction.find_by_id(f.transaction_id, :conditions => ["created_at >= '#{@start_date}' and created_at <= '#{@end_date}'and category_id ='#{3}'"]) %>
        <% unless trans.nil? %>
          <div class="fees-tr">
            <div class="fees-table-description"><%= f.student.full_name%></div>
            <div class="fees-table-income"> <%= trans.amount %> </div>
            <div class="fees-table-date"> <%= trans.created_at.strftime("%m-%d-%Y") %> </div>
          </div>
          <% total += trans.amount %>
        <% end %>
      <% end %>
    <% end %>
    <br/>
    <div class="fees-th">
      <div class="fees-table-description"><%=t('app.views.finance.batch_fees_report.total_fees')%></div>
      <div class="fees-table-expenses"><%=total %></div>
    </div>
  </div>
</div>