<div id="content-header">
  <img src="/images/show_finance.png" alt="Finance" />
  <h1><%=t('app.views.finance.employee_payslip_monthly_report.salary')%> <%= @employee.first_name+" "+@employee.last_name %> <%=t('app.views.finance.employee_payslip_monthly_report.test')%> <%= @salary_date %></h1>
  <h3><%=t('app.views.finance.employee_payslip_monthly_report.manage_transactions')%></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  




<ul class="item-list">
  <li class="heading"><%=t('app.views.finance.employee_payslip_monthly_report.payslip_generated_to')%> <%= @employee.first_name+" "+@employee.last_name %></li>
</ul>
<ul class="item-list">
  <% @monthly_payslips.each do |mp| %>
    <% category = PayrollCategory.find(mp.payroll_category_id) %>
    <% @emp = Employee.find(mp.employee_id) %>
    <% unless category.is_deduction == true %>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="item-name"><%= category.name  %> :</div>
        <div class="item-edit"><span class="currency-type"><%= @currency_type %></span> <%= mp.amount %></div>
      </li>
    <% end %>
  <% end %>
</ul>

<ul class="item-list">
  <li class="heading"><%=t('app.views.finance.employee_payslip_monthly_report.deductions')%></li>
  <% @monthly_payslips.each do |mp| %>
    <% category = PayrollCategory.find(mp.payroll_category_id) %>
    <% @emp = Employee.find(mp.employee_id) %>
    <% unless category.is_deduction == false %>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="item-name"><%= category.name  %></div>
        <div class="item-edit"><span class="currency-type"><%= @currency_type %></span> <%= mp.amount %></div>
      </li>
    <% end %>
  <% end %>
</ul>

<% unless @individual_payslip_category.empty? %>
  <ul class="item-list">
    <li class="heading"><%=t('app.views.finance.employee_payslip_monthly_report.additional')%></li>
    <% @individual_payslip_category.each do |pc| %>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="item-name"><%= pc.name %></div>
        <div class="item-edit"><span class="currency-type"><%= @currency_type %></span> <%= pc.amount %></div>
      </li>
    <% end %>
  </ul>
<% end %>

<ul class="item-list">
  <li class="heading">Total:</li>
  <li class="listodd">
    <div class="item-name"><%=t('app.views.finance.employee_payslip_monthly_report.deductions')%></div>
    <div class="item-edit"><span class="currency-type"><%= @currency_type %></span> <%=@net_deductionable_amount %></div>
  </li>
  <li class="listeven">
    <div class="item-name"><%=t('app.views.finance.employee_payslip_monthly_report.salary_')%></div>
    <div class="item-edit"><span class="currency-type"><%= @currency_type %></span> <%=@net_amount%></div>
  </li>
</ul>



  
</div>