<div id="content-header">
  <img src="/images/show_finance.png" alt="" />
  <h1><%=t('app.views.finance.index.home')%></h1>
  <h3><%=t('app.views.finance.index.manage_finance')%></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  
  <div class="box">
    <% if @user.student? %>
      <%= render :partial => 'student_index' %>
    <% else %>
      <%= render :partial => 'default_index' %>
    <% end %>
  </div>
</div>
