<div id="content-header">
  <img src="/images/show_finance.png" alt="" />
  <h1><%=t('app.views.finance.request_invoices_report.invoices_report')%></h1>
  <h3><%=t('app.views.finance.request_invoices_report.reports')%></h3>
  
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png", :border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>

  <% form_for :report, :url => {:action => 'generate_invoices_report'} do |f| %>
    <div class="label-field-pair">
      <label><%=t('app.views.finance.request_invoices_report.start_date')%></label>
      <div class="input-container">
        <%= calendar_date_select_tag 'start_date', @start_date %>
      </div>
    </div>
  
    <div class="label-field-pair">
      <label><%=t('app.views.finance.request_invoices_report.end_date')%></label>
      <div class="input-container">
        <%= calendar_date_select_tag 'end_date', @end_date %>
      </div>
    </div>

    <%= submit_tag t('app.views.finance.request_invoices_report.submit'), 
                   :class=>'submit_button' %>
  <%end%>
  
</div>


