<div id="content-header">
   <img src="/images/show_finance.png" alt="" />
  <h1><%=t('app.views.finance.transactions.expences_income')%></h1>
  <h3><%=t('app.views.finance.transactions.manage_transactions')%></h3>
  <div id="app-back-button">
     <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
<% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>

<div class="box">
  <div class="link-box">
    <div class="link-heading"><%= link_to t('app.views.finance.transactions.add_expense'), :action => "expense_create" %></div>
    <div class="link-descr"><%=t('app.views.finance.transactions.creates_expenses')%></div>
  </div>
  <div class="link-box">
    <div class="link-heading"><%= link_to t('app.views.finance.transactions.add_income'), :action => "income_create" %></div>
    <div class="link-descr"><%=t('app.views.finance.transactions.create_new_income')%></div>
  </div>

  <div class="link-box">
    <div class="link-heading"><%= link_to t('app.views.finance.transactions.report'), :action => "monthly_report" %></div>
    <div class="link-descr"><%=t('app.views.finance.transactions.shows_transactions')%></div>
  </div>
  <div class="link-box">
    <div class="link-heading"><%= link_to t('app.views.finance.transactions.compare_transaction'), :action => "compare_report" %></div>
    <div class="link-descr"><%=t('app.views.finance.transactions.compare_transactions')%></div>
  </div>

</div>
</div>